body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-top: 50px;
}

ol {
    list-style-type: decimal;
    font-size: 36px;
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

li {
    margin: 20px 0;
}

/* Erklärung der Typografieregel:
   - Der Google Font "Open Sans Extra-bold 800" wird verwendet, um sicherzustellen, dass die Schrift kräftig und gut lessbar ist.
   - Die Schriftgröße der Überschrifft (h1) ist auf 48px gesetzt, um sie auch aus der Ferne gut lesbar zu machen.
   - Die Schriftgröße der Liste (ol, li) ist auf 36px gesetzt, um eine klare Hierarchie zu schafen und die Rangliste ebenfalls gut lessbar zu machen.
   - Große Schriftgrößen und das extra-fette Schriftgewicht helfen, den Text auch aus größerer Entfernung deutlich sichtbar und leicht lessbar zu machen.
*/